@model Contracts.TripEmployeeDto

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Trip participation details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PlaneTicketStatus)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PlaneTicketStatus)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PlaneTicketPrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PlaneTicketPrice)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CarReservationStatus)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CarReservationStatus)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CarReservationPrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CarReservationPrice)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Comment)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Comment)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EmployeeName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmployeeName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AccommodationName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AccommodationName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsAcceptedByEmployee)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsAcceptedByEmployee)
        </dd>
        <dt>
            Attachments
        </dt>
        @foreach(var file in Model.ExistingFiles)
            {
            <dd>
                <a href="/Attachments/TripEmployee/@Model.Id/@file.Name" download>@file.Name</a>
            </dd>
            }
    </dl>
</div>
<div>
    <button class="btn btn-default btn-fade" type="button" href="#" onClick="history.go(-1); return false;">Return back</button>
</div>
