@model Contracts.TripEmployeeDto

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Trip participation details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Plane ticket status
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PlaneTicketStatus)
        </dd>
        @if(Model.PlaneTicketStatus != "NotNeeded")
        {
            <dt>
                Plane ticket price
            </dt>
            <dd>
                @Html.DisplayFor(model => model.PlaneTicketPrice)
            </dd>
        }
        <dt>
            Car reservation status
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CarReservationStatus)
        </dd>
        @if (Model.CarReservationStatus != "NotNeeded")
        {
            <dt>
                Car reservation price
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CarReservationPrice)
            </dd>
        }
        <dt>
            Comment
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Comment)
        </dd>
        <dt>
            Employee
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmployeeName)
        </dd>
        <dt>
            Accommodation
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AccommodationName)
        </dd>
        <dt>
            Accepted by employee?
        </dt>
            @if (Model.IsAcceptedByEmployee)
            {
                <dd>Yes</dd>
            }
            else
            {
                <dd>No</dd>
            }
        <dt>
            Attachments
        </dt>
        @foreach(var file in Model.ExistingFiles)
            {
            <dd>
                <a href="/Attachments/TripEmployee/@Model.Id/@file.Name" download>@file.Name</a>
            </dd>
            }
    </dl>
</div>
<div>
    <button class="btn btn-default btn-fade" type="button" href="#" onClick="history.go(-1); return false;">Return back</button>
</div>
