@model IEnumerable<PSK.Domain.TripEmployee>

@{
    ViewData["Title"] = "TripEmployees";
}

<h2>Trip employees</h2>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @*@Html.DisplayNameFor(model => model.Employee.FullName)*@
                    Employee name
                </th>
                <th>
                    @*@Html.DisplayNameFor(model => model.AccommodationReservation.Status)*@
                    Accommodation
                </th>
                <th>
                    @*@Html.DisplayNameFor(model => model.AccommodationReservation.Price)*@
                    price
                </th>
                <th>
                    @*@Html.DisplayNameFor(model => model.AccommodationReservation.Accommodation.Name)*@
                    location
                </th>
                <th>
                    @*@Html.DisplayNameFor(model => model.AccommodationReservation.StartDate)*@
                    start
                </th>
                <th>
                    @*@Html.DisplayNameFor(model => model.AccommodationReservation.EndDate)*@
                    end
                </th>
                <th>
                    @*@Html.DisplayNameFor(model => model.PlaneTicketStatus)*@
                    Plane tickets
                </th>
                <th>
                    @*@Html.DisplayNameFor(model => model.PlaneTicketPrice)*@
                    price
                </th>
                <th>
                    @*@Html.DisplayNameFor(model => model.CarReservationStatus)*@
                    Car reservation
                </th>
                <th>
                    @*@Html.DisplayNameFor(model => model.CarReservationPrice)*@
                    price
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Comment)
                </th>
                <th>
                    Is accepted?
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.ActionLink(item.Employee.FullName, "Details", "Employee", new { id = item.Employee.Id })
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AccommodationReservation.Status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AccommodationReservation.Price)
                    </td>
                    <td>
                        @if (item.AccommodationReservation.Accommodation != null)
                        {
                            @Html.ActionLink(item.AccommodationReservation.Accommodation.Name, "Details", "Accommodation", new { id = item.AccommodationReservation.Accommodation.Id })
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AccommodationReservation.StartDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AccommodationReservation.EndDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PlaneTicketStatus)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PlaneTicketPrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CarReservationStatus)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CarReservationPrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Comment)
                    </td>
                    <td>
                        @(item.IsAcceptedByEmployee ? "Yes" : "No")
                    </td>
                    @{ 
                        if (User.IsInRole("Organizer"))
                        {
                            <td class="td-actions">
                                <div>@Html.ActionLink("Edit", "Edit", new { id = item.Id })</div>
                                <div>@Html.ActionLink("Delete", "Delete", new { id = item.Id })</div>
                            </td>
                        }
                    }

                </tr>
            }
        </tbody>
    </table>
</div>

@{
    if (User.IsInRole("Organizer"))
    {
        <div class="btn-create">
            <button class="btn btn-default" type="button">
                @Html.ActionLink("Create New", "AddNew", new { tripId = Guid.Parse(Context.Request.Query["tripId"].ToString()) })
            </button>
        </div>
    }
}

