@model IEnumerable<Contracts.AccommodationDto>

@{
    ViewData["Title"] = "Accommodations";
}

<h2>Accommodations</h2>

<p>
    <a asp-action="AddNew">Create New</a>
</p>
<div class="table-responsive">
<table class="table">
    <thead>
        <tr>
            <th>
                Appartment name
            </th>
            <th>
                Beds (total)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address.Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address.Street)
            </th>
            <th>
                House number
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address.Latitude)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address.Longitude)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Office.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalSpaces)
            </td>
            <th>
                @Html.DisplayFor(modelItem => item.Address.Country)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.Address.City)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.Address.Street)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.Address.HouseNumber)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.Address.Latitude)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.Address.Longitude)
            </th>
            <th>
                @Html.ActionLink(item.Office.Name, "Details", "Office", new { id = item.Office.Id })
            </th>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Delete", "Delete", new {  id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
</div>
