@model PSK.Domain.Accommodation

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Accommodation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Appartment name
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            Beds (total) <div class="comment">0 if it's hotel</div>
        </dt>
        <dd>
            @(Model.TotalSpaces > 0 ? Model.TotalSpaces.ToString() : "Hotel")
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address.Country)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address.Country)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address.City)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address.City)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address.Street)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address.Street)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address.HouseNumber)
        </dt>
        <dd>
            House number
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address.Latitude)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address.Latitude)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address.Longitude)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address.Longitude)
        </dd>
        <dt>
            Office name
        </dt>
        <dd>
            @Html.ActionLink(Model.Office.Name, "Details", "Office", new { id = Model.Office.Id })
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    <a asp-action="Accommodations">Back to List</a>
</div>
