@using Contracts
@model Contracts.MyTripsDto

@{
    ViewData["Title"] = "MyTrips";
}

<h2>My trips</h2>

<div>
        @Html.ActionLink("All", "MyTrips", new { dateFilter = DateFilter.All }, new { @class = "btn btn-default", @id = "disabled" + $"{ @Model.DateFilter.Equals(DateFilter.All)}" })
        @Html.ActionLink("Upcoming", "MyTrips", new { dateFilter = DateFilter.Upcoming }, new { @class = "btn btn-default", @id = "disabled" + $"{ @Model.DateFilter.Equals(DateFilter.Upcoming)}" })
        @Html.ActionLink("Ongoing", "MyTrips", new { dateFilter = DateFilter.Ongoing }, new { @class = "btn btn-default", @id = "disabled" + $"{ @Model.DateFilter.Equals(DateFilter.Ongoing)}" })
        @Html.ActionLink("Past Trips", "MyTrips", new { dateFilter = DateFilter.Past }, new { @class = "btn btn-default", @id = "disabled" + $"{ @Model.DateFilter.Equals(DateFilter.Past)}" })
</div>  


<div><p></p></div>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>
                    Date from
                </th>
                <th>
                    Date until
                </th>
                <th>
                    Organizer
                </th>
                <th>
                    Start
                </th>
                <th>
                    Destination
                </th>
                <th>
                    Employees
                </th>
                <th>
                    Comment
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.MyTrips)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EndDate)
                    </td>
                    <td>
                        @Html.ActionLink(item.Organizer.FullName, "Details", "Employee", new { id = item.Organizer.Id })
                    </td>
                    <td>
                        @Html.ActionLink(item.StartLocation.Name, "Details", "Office", new { id = item.StartLocation?.Id })
                    </td>
                    <td>
                        @Html.ActionLink(item.EndLocation.Name, "Details", "Office", new { id = item.EndLocation?.Id })
                    </td>
                    <td>
                        @Html.ActionLink("show employees", "TripEmployees", "TripEmployee", new { tripId = item.Id })
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Comment)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@if (Model.IsOrganizer)
{
    
<div class="table-responsive">
    <h2>My organized trips</h2>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Date from
                </th>
                <th>
                    Date until
                </th>
                <th>
                    Organizer
                </th>
                <th>
                    Start
                </th>
                <th>
                    Destination
                </th>
                <th>
                    Employees
                </th>
                <th>
                    Comment
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.MyOrganizedTrips)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EndDate)
                    </td>
                    <td>
                        @Html.ActionLink(item.Organizer.FullName, "Details", "Employee", new { id = item.Organizer.Id })
                    </td>
                    <td>
                        @Html.ActionLink(item.StartLocation.Name, "Details", "Office", new { id = item.StartLocation?.Id })
                    </td>
                    <td>
                        @Html.ActionLink(item.EndLocation.Name, "Details", "Office", new { id = item.EndLocation?.Id })
                    </td>
                    <td>
                        @Html.ActionLink("show employees", "TripEmployees", "TripEmployee", new { tripId = item.Id })
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Comment)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

        <p>
            <a asp-action="AddNew">Create New</a>
        </p>
        }
