@model IEnumerable<PSK.Domain.Trip>

@{
    ViewData["Title"] = "Trips";
}

<h2>Trips</h2>

<p>
    <a asp-action="AddNew">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Date from
            </th>
            <th>
                Date until
            </th>
            <th>
                Organizer
            </th>
            <th>
                Start
            </th>
            <th>
                Destination
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employees)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comment)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <th>
                @Html.DisplayFor(modelItem => item.Organizer.Name)
            </th>
            <th>
                @Html.ActionLink(item.StartLocation.Name, "Details", "Office", new { id = item.StartLocation.Id })
            </th>
            <th>
                @Html.ActionLink(item.EndLocation.Name, "Details", "Office", new { id = item.EndLocation.Id })  
            </th>
            <th>
                @Html.ActionLink("showEmployees", "TripEmployees", "TripEmployee", new { id = item.Id })
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
